DB_CONTAINER_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_HOST_PORT=

APP_CONTAINER_NAME=
APP_PORT=
APP_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
RESET_TOKEN_EXPIRES_IN=

SALT_ROUNDS=

DB_CPU_LIMIT=
DB_MEM_LIMIT=

APP_CPU_LIMIT=
APP_MEM_LIMIT=

NODE_ENV=

MAX_FAILED_ATTEMPTS=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
